@font-face {
    font-family: CartographCF;
    src: url('CartographCF-Regular.ttf');
}

*{
    font-family:CartographCF;
}

body{
    background-color: #191919;
    color: whitesmoke;
}

a,p{
    font-size: medium;
    margin: 20px;
}

.pt{
    font-size: medium;
}

.prlink{
    font-size: medium;
    color: whitesmoke;
    margin: 0;
}

a{
    color: grey;
}

a:hover{
    color:green;
}

pre{
    font-size: 12px; 
}

#main_div{
    margin-top: 20px;
}

#content_div{
    width: 600px;
    border: 2px solid;
    margin: auto;
    user-select: none;
}

#banner_div{
    text-align: center;
    border: 2px solid;
    width: 600px;
    height: 135px;
    margin: auto;
    border-bottom: 0;
    user-select: none;
}

.content{
    margin: 20px;
    text-align: justify; 
    width: 600px;
    margin: auto;
    height: 470px;
}

#about_div{
    display: block;
    border: none;
}

#projects_div{
    display: none;
}

#exp_div{
    display: none;
}


.btn{
    background-color: #191919;
    color: aliceblue;
    border: none;
    font-size: 20px;
    width: 100%;
    user-select: none;
}

.btn:active{
    background-color: white;
    color: black;
}

.ele{
    margin-top: 0;
    margin-bottom: 0;
}

.bold{
    font-weight: bolder;
    
}


#about{
    text-decoration: underline;
    pointer-events: none;
}

#about_td{
    border: none;
    text-decoration: underline;
}

#projects_td{
    border-top: 0;
    border-right: 0;
}

#exp_td{
    border-top: 0;
    border-right: 0;
}

.content_tbl{
    width: 600px;
    margin: auto;
    border-spacing: 0;
}

.btn_td{
    width: 33%;
    border: 2px solid;
    text-align: center;
}

@media screen and (max-width:600px) {
    *{
        font-family:CartographCF;
    }
    body{
        font-size: x-small;
    }
    p,a{
        font-size: x-small;
        margin: 10px;
    }
    #banner_div{
        width:340px;
        height: 90px;
    }
    #content_div{
        width: 340px;
        font-size: 16px;
    }
    .content{
        width: 340px;
        height: 290px;
    }
    .content_tbl{
        width: 340px;
    }
    .btn{
        font-size: small;
    }
    pre{
        font-size: 8px;
    }
    
}

@media screen and (max-width:340px){
    *{
        font-family:CartographCF;
    }

    body{
        font-size: x-small;
    }
    p,a{
        font-size: x-small;
        margin: 10px;
    }
    #banner_div{
        width:300px;
        height: 90px;
    }
    #content_div{
        width: 300px;
        font-size: 16px;
    }
    .content{
        width: 300px;
        height: 320px;
    }
    .content_tbl{
        width: 300px;
    }
    .btn{
        font-size: small;
    }
    pre{
        font-size: 8px;
    }
}

