@font-face {
    font-family: rbm;
    src: url("RobotoMono.ttf");
}

tr,td,table{
    padding: 5px;
    text-align: justify;
}

.pros{
    font-size: 12px;
}

table{
    margin-left: 10px;
    border-collapse: collapse;
    font-size: 14px;
    width: 95%;
}

*, html {
    margin:0;
    padding:0;   
}

html{
    width: 100%;
}

body{
    background: #252525;
    background-size: 100%;
    color: whitesmoke;
    font-family: rbm;
    overflow: hidden; 
}

/*#main{
    align-items: center;
    justify-content: center;
}*/

#banner{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: #252525;
    transform: translate(-50%, -50%);
    padding: 0px;
    line-height: 0%;
}

#bimg{
    height: 265px;
    margin: 0;
    padding: 0;
}

#mtxt{
    display: none;
}

#myCanvas{
    z-index: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.raw{
    display:flex;
}

.clmn{
    border: 2px solid white;
}

.clmn:hover{
    background-color: white;
}

#stxt,#btxt{
    margin: 20px;
    font-family: monospace;
}

#stxt{
    text-align: center;
    font-size: 5.5px;
}

#btxt{
    font-size: 11px;
}

#menu{
    position: absolute;
    top: 90%;
    left:30%;
    height: 10%;
    width: 40%;
    z-index: 1;
    border: 2px solid white;
    background: #252525;
    display: flex;
}

.btns{
    width: 33%;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-family: rbm;
    font-size: 20px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #252525;
    border: 0;
    color: white;
}

.btns:hover{
    background-color: #363636;
}

p{
    margin: 10px;
    font-size: 14px;
    font-family: rbm;
}

.ele{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
    pointer-events: none;
}

.lks{
    color: white;
}

.lks:hover{
    color: green;
}

.bold,.hd{
    font-weight: bold;
    text-align: justify;
}

.hd{
    border: 2px solid white;
    color: #252525;
    background-color: white;
}

span{
    text-decoration: underline;
}

.bold{
    font-size: 14px;
}

.in{
    width: 100%;
    height: 1px;
    background-color: white;
}

.ttl{
    color: #252525;
    font-size: 15px;
    font-family: rbm;
    font-weight: bold;
    margin: 2px;
    margin-left: 10px;
}

.close{
    display: flex;
    height: 5%;
    width: 100%;
    border-bottom: 2px solid white;
    margin-left: 0;
    background-color: white;
}

.cls{
    position: absolute;
    right: 0;
    margin-right: 0;
    border: 0;
    background-color: white;
    cursor: pointer;
}

span{
    font-size: 24px;
    text-decoration: none;
    margin-right: 5px;
    background-color: white ;
}

.text{
    padding: 10px;
}

.prjl{
    text-decoration: none;
    color: #252525;
}

#about{
    display: none;
    position: absolute;
    top: 10%;
    left:3%;
    z-index: 1;
    width: 30%;
    height: 75%;
    margin: 10px;
    border: 2px solid white;
    background-color: #252525;
}

#projects{
    display: none;
    position: absolute;
    top: 10%;
    left:34.3%;
    z-index: 1;
    width: 30%;
    height: 75%;
    margin: 10px;
    border: 2px solid white;
    background-color: #252525;
}

#experience{
    display: none;
    position: absolute;
    top: 10%;
    right: 3%;
    z-index: 1;
    width: 30%;
    height: 75%;
    margin: 10px;
    border: 2px solid white;
    background-color: #252525;
}

#border{
    position: absolute;
    top: 99.5%;
    left: 0%;
    width: 99.8%;
    height: 2px;
    background-color: white;
    z-index: 1;
}

@media (min-width: 600px) and (max-width: 900px){
    .pros{
        font-size:9.5px;
    }
    
    tr,td,table{
        padding: 5px;
        text-align: justify;
        font-size: 12px;
    }

    #bimg{
        height: 150px;
    }
    
    #stxt{
        font-size: 7px;
    }
    
    #btxt{
        font-size: 11px;
    }

    .ttl{
        font-size: 20px;
    }

    .bold,.ele,.hd{
        font-size: 20px;
    }

    .btns{
        font-size: 20px;
    }

    svg{
        height: 33px;
        width: 33px;
    }

    #temp{
        display: none;
    }

    #menu{
        width: 99.2%;
        height: 7.7%;
        top: 92%;
        left:0%;
    }

    #about,#projects,#experience{
        top: 27%;
        left:5%;
        z-index: 1;
        width: 85%;
        height: 60%;
    }
}

@media (max-width: 500px){
    .pros{
        font-size:9.5px;
    }
    
    tr,td,table{
        padding: 5px;
        text-align: justify;
        font-size: 10px;
    }

    #bimg{
        height: 150px;
    }
    
    #stxt,#btxt{
        display: none;
    }

    #mtxt{
        display: block;
        font-family: monospace;
        font-size: 7px;
        margin: 8px;
    }

    #temp{
        display: none;
    }

    #menu{

        width: 98.5%;
        height: 7.55%;
        top: 92%;
        left:0%;
    }

    #about,#projects,#experience{
        top: 27%;
        left:5%;
        z-index: 1;
        width: 85%;
        height: 60%;
    }

    .ttl{
        font-size: 11px;
    }

    .bold,.ele,.hd{
        font-size: 9px;
    }

    .btns{
        font-size: 12px;
    }

    span{
        font-size: 18px;
    }

    svg{
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 280px){
    #bimg{
        height: 150px;
    }
    
    #stxt{
        font-size: 4px;
    }
    
    #btxt{
        font-size: 6px;
    }

    .ttl{
        font-size: 12px;
    }

    .bold,.ele,.hd{
        font-size: 8px;
    }

    .btns{
        font-size: 10px;
    }

}
